spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ms_email_ms
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
    ddl-auto: update
    show-sql: true
    properties:
      hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    addresses: amqps://jaragua.lmq.cloudamqp.com
    username: vtmsukyt
    password: 4ea7-luy1YJG2c67rJaDtk0L26fDqiRb
    virtual-host: vtmsukyt

    flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true

    mail:
      host: smtp.gmail.com
      port: 587
      username: ${EMAIL_USERNAME}
      password: ${EMAIL_PASSWORD}
      properties:
        mail:
        smtp:
        auth: true
        starttls:
        enable: true

server:
  port: 8080